/* Styles for body and html */
body, html {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Hide the scrollbar */
}

/* Styles for body */
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styles for #dropArea */
#dropArea {
    width: 400px;
    height: 300px;
    border: 2px dashed #888;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    font-family: 'Bungee', cursive;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Added shadow to the drop area */
    position: relative; /* Added relative positioning */
}

/* Styles for #dropArea:hover */
#dropArea:hover {
    background-color: rgba(68, 68, 68, 0.2); /* Less dark and more transparent hover background */
    color: #fff; /* White text color on hover */
    border-color: #000; /* Darker border color on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); /* Increased shadow on hover */
}

/* Styles for #dropArea p and #toSelect */
#dropArea #ToDropOrClick, #toSelect {
    margin: 0;
    font-size: 24px; /* Increased font size */
    font-weight: bold;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* Added more shadow to the text */
    letter-spacing: 2px;
    position: absolute; /* Added absolute positioning */
    top: 0px; /* Adjusted vertical alignment */
    left: 0; /* Aligned to the left */
    right: 0; /* Aligned to the right */
}

/* Styles for #toSelect */
#toSelect {
    color: #fff; /* White text color */
    top: 30px; /* Adjusted vertical alignment */
    -webkit-text-stroke: 2px #000; /* Webkit browsers (Safari, Chrome) */
}

/* Styles for #ToDropOrClick */
#ToDropOrClick {
    color: #fff; /* White text color */
    -webkit-text-stroke: 2px #000; /* Webkit browsers (Safari, Chrome) */
}

/* Styles for #dropArea input */
#dropArea input {
    display: none;
}

/* Styles for .swf-container */
.swf-container {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
